<% div_for photo, :class => "hmedia" do %>
    <%= content_tag :h2, photo.title, :class => "fn" %>
    <a rel="enclosure" type="image/jpeg" href="<%= url_for photo -%>">
        <%= image_tag "strangelove.jpg", :alt => "Dr. Strangelove", :class => "photo" %>
    </a> 
    <div class="attribution">
        by <span class="contributor vcard">
            <%= link_to photo.user, "http://example.com", :class => "url fn" %>
        </span>
    </div>
    <% content_tag :div, :class => "tags" do %>
        <div class="tags_label">Tags: <%= link_to "(add a tag)", new_photo_tag_url(photo), :class => "edit_tags"%></div>
        <div class='error_messages' style="display:none;"></div>
        <%= render :partial => photo.tags, :locals => {:photo => photo} %>
        <div class="clearfix"></div>
        <div class='add_tags' style="display:none;">
            <% form_for Tag.new, :url => photo_tags_url(photo), :html => {:id => ("new_tag_" + dom_id(photo))} do |f| -%>
              <%= render :partial => "tags/form", :locals => {:f => f, :photo => photo} %>
            <% end -%>
        </div>
    <% end -%>
<% end -%>
